@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
a {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}
header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}

button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8 16px;
  font-size: 24px;
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#About,#Discord, #Contact,footer{
  padding: 48px 0px;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

 .About__img--wrapper{
  width: 40%;
}
.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.About__img--wrapper, 
.section__description--wrapper {
  width: 40%;
    padding: 0 20px;
}

img {
  width: 100%;
}

#Discord{
    background-color: #cefeff;
}

#Contact{
    background-color: #dce9ff;
}

#About{
    background-color: #f8ffdc;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea{
    margin-bottom: 24px;
    padding: 6px 12px;
    font-size: 20px;
 
}

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo{
max-width: 480px;
margin-bottom: 16px;
}

.footer__links{
margin-bottom: 32px;

}

.footer__link{
    padding: 0 16px;
}

@media (max-width:728px) {
    .row{
flex-direction: column;
    }


.home__description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__description--button{
 max-width: 240px;   
}

h1{
    text-align: center;
    font-size: 60px;
}

.subheader{
    text-align: center;
    font-size: 28px;
}

ul{
    display: none;
}

.section__description{
    flex-direction: column;
}

.section__description--wrapper{
    width: 100%;
}
.About__img--wrapper{
    width: 100%;
}

#Discord.section__description{
    flex-direction: column-reverse;
}
.footer{
    padding: 48px 24px;
}
.footer__logo{
    max-width: 360px;
}
.footer__link{
 padding: 0 4px;
 font-size: 18px;
}
.footer__links{
    margin-bottom: 24px;
}
}